* {

    margin: 5;
    padding: 0;
    font-weight: 700;
}

/*

MATIAS

*/

#strong {

    font-weight: 1000;
    font-size: 50px;
    margin-top: 1px;

}

h1 {

 font-family: "DynaPuff", sans-serif;

}

h2 {

    font-family: "DynaPuff", sans-serif;

}

h4 {

    font-family: "Iosevka Charon Mono", sans-serif;

}

h5 {

    font-family: "Iosevka Charon Mono", sans-serif;

}

p {

    font-family: "Iosevka Charon Mono", sans-serif;

}

.redondeado {

    border-radius: 50px;

}

body {
    background: linear-gradient(to right, #a3e6f5, #b3d3d8);
}

#inicio {

    width: 100%;
    height: 100px;

}

.borde {

    border-radius: 5%;

}

header {

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #cfa663, #f2b63e);
    border: 8px solid  rgb(187, 126, 28);
    border-radius: 50px;
    padding: 10px;
    width: 100%;
    height: 12.5%;
    z-index: 1;

}

nav {

    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;

}

nav a {

    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1vw;
    font-weight: 800;

}

nav a:hover {

    opacity: 0.75;
    animation-duration: 1s;
    animation-name: movimiento;

}

header img {

    margin-left: 50px;
    border-radius: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
    height: 100%;

}

main {

    margin: 25px;

}

/*

GONZALO

*/

.footer {
    background: linear-gradient(to right, #f68569, #8e6e55);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.texto{
    display: flex;
    justify-content: center;
    align-items: center;
}

#metodos_pago {

    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;

}

#video {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;

}

.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes movimiento {

    50% {

        translate: 0px 10px;

    }


    100% {

        translate: 0px 0px;

    }

}

/*

OCTAVIO

*/
